  .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    height: 100vh;
    padding: 12rem; 
    margin-bottom: 10rem;
  }
  
  .content h2 {
    color: #1d563f;
    margin-bottom: 2rem;
    margin-top: 6rem;
    font-size: 35px;
    font-family: Poppins;
  }
  
  .checkmark {
    font-size: 100px;
    color: #1d563f;
    margin-bottom: 2rem;
  }
  
  p {
    margin-bottom: 2rem;
    text-align: center;
    font-size: 16px;
    color: #333;
  }
  
  .ok-button {
    background-color: #006c4c;
    color: white;
    border: none;
    padding: 0.75rem 2rem;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .ok-button:hover {
    background-color: #009523;
  }
  
@media (max-width: 480px) {
  .content {
    margin-top: 30px;
    padding: 20px;
    margin-bottom: 10px;
  }
  .content h2 {
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 35px;
  }
  .checkmark {
    font-size: 110px;
    margin-bottom: 10px;
  }
  
  p {
    margin-bottom: 10px;
    font-size: 12px !important;
  }
}
@media (min-width: 481px) and  (max-width: 768px) {
  .content {
    margin-top: 100px;
    padding: 20px;
    margin-bottom: 10px;
  }
  .content h2 {
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 40px;
  }
  .checkmark {
    font-size: 120px;
    margin-bottom: 10px;
  }
  
  p {
    margin-bottom: 10px;
    font-size: 17px !important;
  }   
  .ok-button {
    padding: 0.75rem 2rem;
    font-size: 20px;
  }
}
@media (min-width: 769px) and  (max-width: 1024px) {
  .content {
    margin-top: 250px;
    padding: 20px;
    margin-bottom: 0;
  }
  .content h2 {
    margin-bottom: 10px;
    margin-top: 0;
    font-size: 40px;
  }
  .checkmark {
    font-size: 100px;
    margin-bottom: 10px;
  }
  
  p {
    margin-bottom: 10px;
    font-size: 17px !important;
  }   
  .ok-button {
    padding: 0.75rem 2rem;
    font-size: 20px;
  }
}