.requirements-form {
    width: 100%;
    height: 100vh;
    padding: 2rem 3rem; 
    overflow: auto;
    background-color: #fff;
  }
  .requirements-form::-webkit-scrollbar {
    width: 5px;
    background-color: #ffffff; /* White background */
  }
  
  .requirements-form::-webkit-scrollbar-thumb {
    background-color: #b0b0b0; /* Light grey color for the thumb */
    border-radius: 5px;
  }
  
  .requirements-form::-webkit-scrollbar-track {
    background-color: #ffffff; /* White background for the track */
  }
  .requirements-form h2 {
    color: #1d563f;
    margin-bottom: 2rem;
    font-size: 35px;
    font-family: Poppins;
  }
  
  .notice {
    color: #f44336;
    font-size: 1rem;
    margin-bottom: 1.5rem;
    text-align: left;
    font-weight: semi-bold;
    font-family: Inter;
  }
  
  .requirements-list {
    background-color: #fff;
    padding: 3rem;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 1.5rem;
  }
  
  .requirements-list ul {
    list-style-type: disc;
    padding-left: 20px;
    margin-bottom: 1.5rem;
  }
  
  .requirements-list li {
    margin-bottom: 1rem;
    font-size: 1rem;
    color: #2b2b2b;
    font-family: Inter;
    font-weight: Medium;
  }

  .button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
  }
  
  .previous-button-r {
    background-color: #77a99b;
    width: 8rem;
    text-align: center;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .next-button-r {
    background-color: #006c4c;
    width: 8rem;
    text-align: center;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
 .next-button-fb:hover {
    background-color: #009523;
  }
  .previous-button:hover {
    background-color: #54805e;
  }
  @media (max-width: 480px) {
    .requirements-form {
      padding: 2rem; 
      padding-top: 14rem;
      padding-bottom: 5rem;
    }
    .requirements-form h2 {
      margin-bottom: 2px;
      font-size: 20px;
    }
    .notice {
      font-size: 12px;
      margin-bottom: 1.5rem;
    }
    .requirements-list {
      padding: 20px 30px;
    }
    .requirements-list ul {
      padding-left: 20px;
    }
    .requirements-list li {
      margin-top: 20px;
      margin-bottom: 20px;
      font-size: 12px;
    }
    .previous-button-r {
      width: 7rem;
      height: 40px;
      font-size: 15px;
    }
  
    .next-button-r {
      width: 7rem;
      font-size: 15px;
      height: 40px;
    }
    
  }
  @media (min-width:481px) and (max-width: 768px) {
    .requirements-form {
      padding: 2rem; /* Further reduce padding for mobile */
      margin-top: 16rem;
      }
  }
  @media (min-width:769px) and (max-width: 1024px) {
    .requirements-form {
      padding: 2rem; /* Further reduce padding for mobile */
      margin-top: 16rem;
      }
  }