.sidebar {
  height: 78vh;
  background-color:#067655;
  padding: 4rem;
  margin-bottom: 4rem;
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.logo-img-s {
  width: 110px;
  height: 110px;
  margin-right: 15px;
  margin-left: 82px;
  margin-bottom: 20px;
}
.sidebar-title {
  color: white;
  font-size: 2.3rem;
  margin-left: 2rem;
  margin-right: 2rem;
  text-align: center;
  margin-bottom: 10px;
  font-family: Poppins;
  font-weight: bold;
}

.sidebar-subtitle {
  color: white;
  font-size: 15px;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 2px;
  text-align: center;
  font-family: Poppins;
  font-weight: bold;
}

.steps {
  list-style: none;
  padding: 0;
  width: 100%;
  font-family: Poppins;
  margin-left: 0.5rem;
  margin-bottom: 60px;
  margin-top: 20px;
}
.sub {
  color: #ffffff;
  font-family: Poppins;
  margin-left: 0.1rem;
  font-size: 15px;
}

.step-item {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  margin-bottom: 2rem;
  position: relative;
  color: #e0e0e0;
}

.step-item .step-number {
  margin-right: 1rem;
  background-color: #fff;
  color: #1d563f;
  border-radius: 25%;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-family: Poppins;
  z-index: 1; 
}

.step-item.active .step-number {
  background-color: #28B78C;
  color: #ffffff;
  font-weight: bold;
  font-size: 1rem;
  width: 3.3rem;
  height: 3.3rem;
}

.step-item.completed .step-number::before {
  content: '✓';
  color: #ffffff;
  font-weight: bold;
  font-size: 1rem;
}

.step-item.active {
  font-weight: bold;
  font-size: 1rem;
  color: #28B78C;
}


.step-item::after {
  content: '';
  position: absolute;
  left: 1.50rem;
  top: 3rem;
  height: 4.9rem;
  width: 3px;
  background-color: #e0e0e0;
  z-index: 0;
}

.step-item.active::after,
.step-item.completed::after {
  background-color: #28B78C;
}

.step-item:last-child::after {
  display: none;
}

/* Media Query for Phones */
@media (max-width: 480px) {
  .sidebar {
    width: 100%;
    padding: 1rem 1rem;
    height: 20vh;
    background-color: #067655;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
  }
  
  .logo-img-s {
    width: 50px;
    height: 50px;
    margin: 0;
    margin-top: 15px;
  }
  
  .sidebar-title {
    color: white;
    font-size: 14px !important;
    text-align: center;
    margin: 0;
    font-family: Poppins;
    font-weight: bold;
  }
  
  .sidebar-subtitle {
    color: white;
    font-size: 10px;
    text-align: center;
    margin-bottom: 1px;
    font-family: Poppins;
    font-weight: bold;
  }
  
  /* Steps horizontal */
  .steps {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    width: 100%;
    margin: 20px 0px;
  }
  .step-item .sub {
    text-align: center;
    display: block;
    padding: auto;
    word-wrap: break-word;
    font-size: 5.5px !important;
    color: white; /* optional */
  }
  
  .step-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 0;
    font-size: 1px;
  }
  
  .step-item .step-number {
    background-color: white;
    color: #067655;
    border-radius: 50%;
    width: 30px !important;
    height: 30px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-family: Poppins;
    z-index: 1;
    margin-bottom: 0.5rem;
  }
  
  .step-item.active .step-number {
    background-color: #28B78C;
    color: white;
    font-size: 15px;
    width: 30px;
    height: 30px;
  }
  
  .step-item.completed .step-number::before {
    content: '✓';
    color: white;
    font-weight: bold;
    font-size: 10px;
  }
  
  /* Add line between steps */
  .step-item::after {
    content: '';
    position: absolute;
    top: 15px;
    left: 35%;
    margin-left: 10px;
    width: 50px !important;
    height: 2px;
    background-color: white;
    transform: translateX(20%);
    z-index: 0;
  }
  
  .step-item:last-child::after {
    display: none;
  }
  
  .step-item.active::after,
  .step-item.completed::after {
    background-color: #28B78C;
  }
}
  /* Optional: make responsive */
  @media (min-width:481px) and (max-width: 768px) {
    .sidebar {
      width: 740px;
      padding: 2rem 2rem;
      height: 25vh;
      background-color: #067655;
      margin: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 0;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
      position: relative;
      overflow: hidden;
    }
    
    .logo-img-s {
      width: 70px;
      height: 70px;
      margin: 0;
      margin-top: 35px;
    }
    
    .sidebar-title {
      color: white;
      font-size: 20px !important;
      text-align: center;
      margin: 0;
      font-family: Poppins;
      font-weight: bold;
    }
    
    .sidebar-subtitle {
      color: white;
      font-size: 18px;
      text-align: center;
      margin-bottom: 1px;
      font-family: Poppins;
      font-weight: bold;
    }
    
    /* Steps horizontal */
    .steps {
      display: flex;
      justify-content: center;
      align-items: center;
      list-style: none;
      width: 100%;
      margin: 20px 0px;
    }
    .step-item .sub {
      text-align: center;
      display: block;
      margin-left: 14px;
      word-wrap: break-word;
      font-size: 12px !important;
      color: white; /* optional */
    }
    
    .step-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      margin: 0;
      font-size: 18px !important;
    }
    
    .step-item .step-number {
      background-color: white;
      color: #067655;
      border-radius: 50%;
      width: 45px !important;
      height: 45px;
      font-size: 18px !important;
      margin-left: 50px;
      margin-right: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      font-family: Poppins;
      z-index: 1;
      margin-bottom: 0.5rem;
    }
    
    .step-item.active .step-number {
      background-color: #28B78C;
      color: white;
      font-size: 18px;
      width: 45px;
      height: 45px;
    }
    
    .step-item.completed .step-number::before {
      content: '✓';
      color: white;
      font-weight: bold;
      font-size: 18px;
    }
    
    /* Add line between steps */
    .step-item::after {
      content: '';
      position: absolute;
      top: 20px;
      left: 35%;
      width: 150px !important;
      height: 3px;
      background-color: white;
      transform: translateX(20%);
      z-index: 0;
    }
    
    .step-item:last-child::after {
      display: none;
    }
    
    .step-item.active::after,
    .step-item.completed::after {
      background-color: #28B78C;
    }
  }
  
  @media (min-width:769px) and (max-width: 1024px) {
    .sidebar {
      width: 1000px;
      height: 34vh;
      background-color: #067655;
      margin: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 0;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
      position: relative;
      overflow: hidden;
    }
    
    .logo-img-s {
      width: 70px;
      height: 70px;
      margin: 0;
      margin-top: 35px;
    }
    
    .sidebar-title {
      color: white;
      font-size:25px !important;
      text-align: center;
      margin: 0;
      font-family: Poppins;
      font-weight: bold;
    }
    
    .sidebar-subtitle {
      color: white;
      font-size: 30px;
      text-align: center;
      margin-bottom: 1px;
      font-family: Poppins;
      font-weight: 600;
    }
    
    /* Steps horizontal */
    .steps {
      display: flex;
      justify-content: center;
      align-items: center;
      list-style: none;
      width: 100%;
      margin: 10px 0px;
    }
    .step-item .sub {
      text-align: center;
      display: block;
      margin-left: 14px;
      word-wrap: break-word;
      font-size: 15px !important;
      color: white; /* optional */
      margin-bottom: 20px;
    }
    
    .step-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      margin: 0;
      font-size: 18px !important;
    }
    
    .step-item .step-number {
      background-color: white;
      color: #067655;
      border-radius: 50%;
      width: 50px !important;
      height: 50px;
      font-size: 20px !important;
      margin-left: 70px;
      margin-right: 70px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      font-family: Poppins;
      z-index: 1;
      margin-bottom: 0.5rem;
    }
    
    .step-item.active .step-number {
      background-color: #28B78C;
      color: white;
      font-size: 18px;
      width: 50px;
      height: 50px;
    }
    
    .step-item.completed .step-number::before {
      content: '✓';
      color: white;
      font-weight: bold;
      font-size: 18px;
    }
    
    /* Add line between steps */
    .step-item::after {
      content: '';
      position: absolute;
      top: 25px;
      left: 40%;
      width: 190px !important;
      height: 3px;
      background-color: white;
      transform: translateX(20%);
      z-index: 0;
    }
    
    .step-item:last-child::after {
      display: none;
    }
    
    .step-item.active::after,
    .step-item.completed::after {
      background-color: #28B78C;
    }
  }
  